/* stylelint-disable */
.carousel-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  position: relative;
  box-shadow: none;
}

.carousel-container .carousel-wrapper {
  padding: 0;
  margin: 0;
  width: auto;
  max-width: initial;
}

.carousel-container .carousel-wrapper .carousel {
  padding: 5%;
  position: relative;
}

.carousel-container .carousel-wrapper .carousel > ul {
  list-style: none;
  margin: 0;
  min-width: initial;
  width: auto;
  flex-direction: row;
  flex: 1;
  gap: 30px;
  padding: 10px 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  min-width: initial;
  max-width: initial;
  padding: 0;
  flex: 1 1 0%;
  border: none;
}

.carousel-container .carousel-wrapper .carousel .cards-card-body {
  margin: auto;
}

.carousel-container .carousel-wrapper .carousel .cards-card-image {
  line-height: 0;
}

.carousel-container .carousel-wrapper .carousel .cards-card-body p {
  margin-bottom: 0;
}

.carousel-container .carousel-wrapper .carousel .cards-card-body h1,
.carousel-container .carousel-wrapper .carousel .cards-card-body h2,
.carousel-container .carousel-wrapper .carousel .cards-card-body h3,
.carousel-container .carousel-wrapper .carousel .cards-card-body h4,
.carousel-container .carousel-wrapper .carousel .cards-card-body h5,
.carousel-container .carousel-wrapper .carousel .cards-card-body h6 {
  margin: 0;
  padding: 0;
}

.carousel-container .carousel-wrapper .carousel .cards-card-body > *:first-child {
  margin-top: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li img {
  width: 100%;
  aspect-ratio: 3 / 1.93;
  object-fit: cover;
  border-radius: 4px;
}

/* Card Generic Styles */

.carousel-container .carousel-wrapper .carousel > ul {
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: none;
  border: none;
  border-radius: 4px;
  padding: 0;
  height: auto;
  min-height: auto;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
}

.carousel-container .carousel-wrapper .carousel > ul > li .cards-card-image {
  position: relative;
  display: block;
  width: 100%;
}

.carousel-container .carousel-wrapper .carousel > ul > li .cards-card-body {
  display: block;
  background-color: var(--background-color);
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li .cards-card-body h1 {
  margin: 0;
  font-size: 26px;
  line-height: 36px;
}

.carousel-container .carousel-wrapper .carousel > ul > li .cards-card-body p {
  margin: 10px 0;
  font-size: 18px;
  line-height: 26px;
}

/* Card Image Top */

.carousel-container .carousel-wrapper .carousel > ul > li.image-top {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-top .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-top .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

/* Card Image Bottom */

.carousel-container .carousel-wrapper .carousel > ul > li.image-bottom {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column-reverse !important;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-bottom .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-bottom .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

/* Card Image Left */

.carousel-container .carousel-wrapper .carousel > ul > li.image-left {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row;
  gap: 20px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left picture {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-left img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}

/* Card Image Right */

.carousel-container .carousel-wrapper .carousel > ul > li.image-right {
  background: var(--background-color) 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: row-reverse;
  gap: 20px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right .cards-card-body {
  padding: 0;
  margin: 10px 20px;
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right picture {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-wrapper .carousel > ul > li.image-right img {
  width: 100%;
  height: 100%;
  max-height: initial;
  min-height: initial;
  object-fit: cover;
  object-position: center;
}

/* Card Teaser Overlay */

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay .cards-card-body {
  width: 100%;
  height: 100%;
  padding: 30px;
  margin: 0;
  flex-grow: 1;
  flex-basis: 0;
  align-items: center;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
  color: var(--text-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay .cards-card-body div[data-aue-type="richtext"] {
  width: 50%;
}

.carousel-container .carousel-wrapper .carousel li.teaser-overlay .cards-card-body a {
  color: var(--text-light);
}

.carousel-container .carousel-wrapper .carousel li.teaser-overlay .cards-card-body a::after {
  color: var(--text-light);
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay picture {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-overlay img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}

/* Card Teaser Card */

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card {
  box-shadow: 0 3px 20px #00000010;
  border: 1px solid var(--light-color);
  border-radius: 4px;
  flex-direction: column;
  gap: 0;
  position: relative;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card .cards-card-image {
  display: inline-flex;
  flex-grow: 1;
  flex-basis: 0;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card .cards-card-body {
  width: max-content;
  max-width: 90%;
  height: auto;
  padding: 20px;
  margin: auto;
  flex-grow: 1;
  flex-basis: 0;
  position: absolute;
  background-color: rgb(0 0 0 / 50%);
  border-radius: 10px 0 0 0;
  color: var(--text-light);
  text-align: center;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 0;
  left: initial;
  right: 0;
  display: block;
  align-content: center;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card .cards-card-body h1 {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card .cards-card-body p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 24px;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card picture {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-wrapper .carousel > ul > li.teaser-card img {
  width: 100%;
  height: 100%;
  max-height: initial;
  object-fit: cover;
  object-position: center;
}

/* buttons */

/* Responsive Styles */

@media (width < 1024px) {
  .carousel-container .carousel-wrapper .carousel {
    padding: 0 5%;
  }

  .carousel-container .carousel-wrapper .carousel > ul {
    display: block;
  }

  .carousel-container .carousel-wrapper .carousel > ul > li {
    width: 100%;
    margin: 15px 0;
  }

  .carousel-container .carousel-wrapper .carousel .cards-card-body h1,
  .carousel-container .carousel-wrapper .carousel .cards-card-body h2,
  .carousel-container .carousel-wrapper .carousel .cards-card-body h3,
  .carousel-container .carousel-wrapper .carousel .cards-card-body h4,
  .carousel-container .carousel-wrapper .carousel .cards-card-body h5,
  .carousel-container .carousel-wrapper .carousel .cards-card-body h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
}

@media (width < 768px) {
  .carousel-container .carousel-wrapper .carousel {
    padding: 0 4%;
  }
}
